textarea {
    font-family: "Consolas", sans-serif;
    tab-size: 2;
}

body {
    margin: 0px;
    overflow: hidden;
}

select:active, select:hover {
    outline: none
}

textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}